<p id="notice"><%= notice %></p>
<h1>You are home!</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
<% if (current_user.is_student) %>
  <h2>Contracts</h2>
    <tbody>
    <h2>Your contracts:</h2>
    <% current_user.contracts.each do |c| %>
      <% if (c.progress == true) %>
      <h3 class="contracttitle"><%=c.title%></h3>
      <p class="contractcompany"><strong><%=c.company%></strong> is looking for a developer!</p>
      <p class="contractdescription"><strong>Description:</strong> <%=c.description%></p>
      <p class="contractpay"><strong>Pay:</strong> $<%=c.pay%></p>
      <% end %>
    <% end %>
    <h2>Other contracts:</h2>
    <% current_user.contracts.each do |c| %>
      <% if (c.progress == false) %>
      <h3 class="contracttitle"><%=c.title%></h3>
      <p class="contractcompany"><strong><%=c.company%></strong> is looking for a developer!</p>
      <p class="contractdescription"><strong>Description:</strong> <%=c.description%></p>
      <p class="contractpay"><strong>Pay:</strong> $<%=c.pay%></p>
      <%=link_to "See More"%>
      <%=link_to "Accept Contract!"%>
      <% end %>
    <% end %>
<% else %>
  <h2>Users</h2>
    <tbody>
    <% @users.each do |p| %>
      <% if (p.is_student) %>
        <h3 class="name"><%=p.first_name %> <%=p.last_name %></h3>
        <p class="school">School: <%=p.school %></p>
      <% end %>
    <%end%>
<% end %>
  </tbody>
</table>
<br>
