<% if (current_user.is_student) %>
    <h1 class="page-header">My Contracts</h1>

    <ul class="nav nav-pills">
        <li><a href="/profiles">Finished Contracts</a></li>
        <li class="active"><a href="#">Live Contracts</a></li>
        <li><a href="/profiles/saved">Saved Contracts</a></li>
    </ul>
    <ul class="contracts-list progressing">
        <% current_user.contracts.each do |contract| %>
            <% if (contract.done == false && contract.progress == true && current_user.id == contract.worker) %>
                <li class="contract-li <%= cycle('contract-odd', 'contract-even') %>">
                <div class="contract-box">
                    <div class="contract-img">
                        <%= image_tag(contract.image_url, class: 'contract-image') %>
                    </div>
                    <div class="contract-text">
                        <h4 class="contract-title"><%= contract.title %></h4>
                        <div class="contract-description">
                            <h4><%= truncate(strip_tags(contract.description), length: 80) %></h4>
                            <%= link_to 'Show', contract, class:"btn btn-default btn-xs"%>
                            <%= link_to 'Mark finished!', finish_contract_path(contract), {class: 'btn btn-primary btn-xs'}%> 
                        </div>
                    </div>
                </div>
                </li>   
            <% end %>
        <% end %>
    </ul>
<% else %>

    <ul class="nav nav-pills">
        <li><a href="/profiles">Pending Contracts</a></li>
        <li class="active"><a href="#">Progressing Contracts</a></li>
        <li><a href="/profiles/saved">Waiting Contracts</a></li>
    </ul>
    <tbody>
        <div id="Progress">
            <% current_user.contracts.each do |p| %>
                <% if (p.progress == true && p.done == false) %>
                    <h3><%= p.title %></h3>
                    <p class="contractdescription"><strong>Description:</strong> <%=p.description%></p>
                    <% p.users.each do |c| %>
                        <% if (p.worker == c.id) %>
                            <p><strong><%= c.first_name %></strong> is working on this contract.</p>
                            <br/>
                            <%= link_to "Drop Student", reset_contract_path(p),class:"btn btn-default btn-xs" %>
                        <% end %>
                    <% end %>
                <% end %>
            <%end%>
        </div>
    </tbody>    
<% end %>
