<% if (current_user.is_student) %>
    <h1 class="page-header">My Contracts</h1>

    <ul class="nav nav-pills">
        <li><a href="#">Finished Contracts</a></li>
        <li><a href="#">Progressing Contracts</a></li>
        <li class="active"><a href="#">Saved Contracts</a></li>
    </ul>
    <ul class="contract-list saved">
        <% current_user.contracts.each do |contract| %>
            <% if (contract.progress == false) %>
                <li class="contract-li <%= cycle('contract-odd', 'contract-even') %>">
                <div class="contract-box">
                    <div class="contract-img">
                        <%= image_tag(contract.image_url, class: 'contract-image') %>
                    </div>
                    <div class="contract-text">
                        <h3 class="contract-title"><%= contract.title %></h4>
                        <div class="contract-description">
                            <p><%= truncate(strip_tags(contract.description), length: 80) %></p>
                            <%= link_to 'Show', contract, class:"btn btn-default btn-xs"%>
                        </div>
                    </div>
                </div>
                </li>
            <% end %>
        <% end %>
    </ul>
<% else %>

    <ul class="nav nav-pills">
        <li><a href="#">Pending Contracts</a></li>
        <li><a href="#">Progressing Contracts</a></li>
        <li class="active"><a href="#">Waiting Contracts</a></li>
    </ul>
    <tbody>
        <div id="Waiting">
            <% current_user.contracts.each do |p| %>
                <% if (p.progress == false) %>
                    <h3><%= p.title %></h3>
                    <p class="contractdescription"><strong>Description:</strong> <%=p.description%></p>
                    <p> There are currently <%= p.users.size-1 %> interested students.</p>
                    <%= link_to "See all users", contract_path(p) ,class:"btn btn-default btn-xs"%>
                <% end %>
            <%end%>
        </div>  
    </tbody>
<% end %>
