<h1 class="page-header">Searh Users</h1>
<%= form_tag(search_users_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Contracts" %>
    <%= submit_tag "Search" %>
<% end %>
<h2>Found <%= pluralize @users.count , "users" %>!</h2>
<hr/>
<ul class="contracts-list finished">
    <% @users.each do |user| %>
        <li class="contract-li <%= cycle('contract-odd', 'contract-even') %>">
        <div class="contract-box">
            <div class="row">
                <div class="col-sm-2">
            <div class="contract-img">
               <%= image_tag(user.avatar.url(:thumb)) %>             </div>
            </div>
            <div class="col-sm-3 contract-text">
                <h4 class="contract-title"><%= user.first_name %> <%= user.last_name %></h4>
                <div class="contract-description">
                    <h4><%= truncate(strip_tags(user.profile), length: 80) %></h4>
                    <%= link_to 'Show', profile_path(user), class:"btn btn-default btn-xs"%>
                </div>
            </div>
        </div>
        </li>
    <% end %>
</ul>
