<%= stylesheet_link_tag "show_profiles" %>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<div class="row">
		<div class="col-md-8 col-lg-6">
    	 <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
		  <% if @user.is_student %>
                    <h2><%= @user.first_name %> <%= @user.last_name %> </h2>
                    <p><strong>School: </strong> <%= @user.school %> </p>
                    <p><strong>Profile: </strong> <%= @user.profile %> </p>
                    <p><strong>Skills: </strong>
		      <% @user.skill_tags.each do |k| %>
		      <span class="tags"><%= k.name %></span>
		      <% end %>
                    </p>
		  <% else %>
		  <h2><%= @user.corporation %> </h2>
                    <p><strong>Company Website: </strong><a href="https://<%= @user.company_website %>">Visit</a> </p>
                    <p><strong>Profile: </strong> <%= @user.profile %> </p>
                    <p><strong>Industry: </strong>
		      <% @user.industry_tags.each do |k| %>
		      <span class="tags"><%= k.name %></span>
		      <% end %>
                    </p>
		   <% end %>
                </div>             
                <div class="col-xs-12 col-sm-4 text-center">
                    <figure>
                      <%= image_tag(current_user.avatar.url(:thumb)) %>
                        <figcaption class="ratings">
                            <p>Ratings
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                 <span class="fa fa-star-o"></span>
                            </a> 
                            </p>
                        </figcaption>
                    </figure>
                </div>
            </div>            
            <div class="col-xs-12 divider text-center">
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="https://github.com/<%= @user.github_url %>">
                        <i class="fa fa-github"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="https://www.linkedin.com/<%= @user.linkedin_url %>">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-twitter"></i>
                    </a>
                
                </div>
                
            </div>
    	 </div>                 
		</div>
	</div>
</div>
