<h2>Edit Profile</h2>

<%= form_for(current_user) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true %> 
  </div>

  <% if (!current_user.is_student) %>
    <div class="field"> 
      <%= f.label :corporation %><br />
      <%= f.text_field :corporation, autofocus: true %>
    </div>
  <% else %>

    <div class="field">
      <%= f.label :school %><br />
      <%= f.text_field :school, autofocus: true %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>

<% end %>

<%= link_to "Back", :back %>

