<div class="container">
<div class="row">
  
  <%= form_for(@contract) do |f| %>
     <% if @contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% @contract.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="col-lg-6">
      <div class="well well-sm"><strong><i class="glyphicon glyphicon-ok"></i> Required Field</strong></div>
      <div class="form-group">
        <label for="InputName">Title</label>
        <div class="input-group">
	  <%= f.text_field :title, autocomplete:"off", class:"form-control", placeholder:"Enter Title" %>
          <span class="input-group-addon"><i class="glyphicon glyphicon-ok"></i></span></div>
      </div>
      <%= f.hidden_field :company, value: current_user.corporation %>
      <div class="form-group">
        <label for="InputEmail">Pay</label>
        <div class="input-group">
	  <%= f.text_field :pay, class:"form-control", placeholder:"Enter Pay" %>
          <span class="input-group-addon"><i class="glyphicon glyphicon-ok"></i></span></div>
      </div>
      <div class="form-group">
        <label for="InputEmail">Deadline</label>
        <div class="input-group">
	  <%= f.text_field :deadline, class:"form-control", placeholder:"Enter Pay" %>
          <span class="input-group-addon"><i class="glyphicon glyphicon-ok"></i></span></div>
      </div>
      <div class="form-group">
        <label for="InputMessage">Description</label>
        <div class="input-group">

    <%= f.text_area :description, rows: 6, class:"form-control", placeholder:"Short Description" %>
       
          <span class="input-group-addon"><i class="glyphicon glyphicon-ok"></i></span></div>
      </div>
      <div class="form-group">
        <label for="InputReal">Photo</label>
        <div class="input-group">
          <%= f.file_field :picture, class:"form-control", placeholder:"Contract Image" %>
          <span class="input-group-addon"><i class="glyphicon glyphicon-ok"></i></span></div>
      </div>
      <div class="form-group">
        <label for="InputReal">Skills</label>
        <div class="input-group">
           <%= autocomplete_field_tag :skill_tag_name, params[:name], autocomplete_skill_tag_name_profiles_path, 'data-delimiter' => ',', :multiple =>true, class:"form-control", placeholder:"Enter your skills" %>
          <span class="input-group-addon"><i class="glyphicon glyphicon-ok"></i></span></div>
      </div>
       <%= f.submit "Create", class:"btn btn-info pull-right"  %>
    
    </div>
 <% end %>
  
</div>

</div>
