<h1 class="page-header">Listing contracts</h1>

<table>
<% @contracts.each do |contract| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %> col-sm-4">

    <td>
      <%= image_tag(contract.image_url, class: 'list_image') %>
    </td>

    <td class="list_description">
      <dl>
        <dt><%= contract.title %></dt>
        <dd><%= truncate(strip_tags(contract.description),
               length: 80) %></dd>
      </dl>
    </td>
    <td class="list_actions col-sm-4">
      <%= link_to 'Show', contract %><br/>
      <% if current_user.is_student %>
          <%= link_to 'Add to Profile', add_contract_path(contract) %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />
