<h1 class="page-header">Listing contracts</h1>
<div class="contracts-container">
  <div class="row">
    <% @contracts.each do |contract| %>
    <div class="contract-li col-xs-6 col-sm-3">
      <div class="contract-box">
	<div class="contract-img">
	  <%= image_tag(contract.image_url, class: 'contract-image') %>
	</div>
	<h4 class="contract-title"><%= contract.title %></h4>
	<div class="contract-description">
	  <h4><%= truncate(strip_tags(contract.description), length: 80) %></h4>
	  <%= link_to 'Show', contract, class:"btn btn-default btn-xs"%>
	  <% if current_user.is_student %>
	  <%= link_to 'Accept', add_contract_path(contract), class:"btn btn-default btn-xs" %>
	  <% end %>
	</div>
      </div>
      <% end %>
      <% if !current_user.is_student%>
      <%= link_to 'New contract', new_contract_path %>
      <% end %>
    </div>
  </div>
</div>
