<h1 class="page-header">My Contracts</h1>
<%= form_tag(search_contract_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Contracts" %>
    <%= submit_tag "Search" %>
<% end %>
<h2>Found <%= pluralize @contracts.count , "contract" %>!</h2>
<hr/>
<ul class="contracts-list finished">
    <% @contracts.each do |contract| %>
        <% cache(cache_key_for_contract_row(contract)) do %>
        <li class="contract-li <%= cycle('contract-odd', 'contract-even') %>">
        <div class="contract-box">
            <div class="contract-img">
                <%= image_tag(contract.image_url, class: 'contract-image') %>
            </div>
            <div class="contract-text">
                <h4 class="contract-title"><%= contract.title %></h4>
                <div class="contract-description">
                    <h4><%= truncate(strip_tags(contract.description), length: 80) %></h4>
                    <%= link_to 'Show', contract, class:"btn btn-default btn-xs"%>
                    <% if current_user.is_student %>
	  <%= link_to 'Accept', add_contract_path(contract), class:"btn btn-default btn-xs" %>
  <% end %>
                </div>
            </div>
        </div>
        </li>
    <% end %>
    <% end %>
</ul>
