<%= stylesheet_link_tag "contract" %>
<div style="overflow: hidden">
<div class="row">
<div class="col-sm-2">
</div>
<div>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="<%= @contract.picture %>" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4><%= @contract.title %></h4>
                        <small><cite title="San Francisco, USA"><%= @contract.company %>  <i class="glyphicon glyphicon-briefcase">
                        </i></cite></small>
                        <p>
                            <i class="glyphicon glyphicon-star"></i>  Pay: $<%= @contract.pay %>
                            <br />
                            <i class="glyphicon glyphicon-globe"></i> Description: <%= @contract.description %>
                            <br />
                            <i class="glyphicon glyphicon-gift"></i>  Deadline: <%= @contract.deadline %></p>
                        <!-- Split button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">
                                Skills Required</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span><span class="sr-only">Social</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
			       <% @contract.skill_tags.each do |k| %>
			       <li><a href="#"><%= k.name %></a></li>

			       <% end %>
			       
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% if (current_user.id == @contract.owner) %>
    <%= link_to 'Edit this contract', edit_contract_path, {class: 'btn btn-primary btn-xs'} %>
    <%= link_to 'Delete this contract', destroy_contract_path, {class: 'btn btn-primary btn-xs'} %>
    <% if @contract.progress == false %>
        <hr style="    padding: 0;
        border: none;
        border-top: medium double #333;
        color: #333;
        text-align: center;">
        <% @contract.users.each do |u| %>
            <% if u.is_student %>
                <p><strong><%= u.first_name %></strong> is interested in this contract!</p>
                <%= link_to 'Assign student', start_contract_path(:worker => u.id), {class: 'btn btn-primary btn-xs'} %>
                <%= link_to 'Show student', profile_path(u), {class: 'btn btn-primary btn-xs'} %>
                <hr>
            <% end %>
        <% end %>
    <% else %>
        <p> This contract is under progress! </p>
    <% end %>
<% elsif (current_user.id == @contract.worker && @contract.progress == true && @contract.done == false) %>
    <%= link_to 'Mark finished!', finish_contract_path, {class: 'btn btn-primary btn-xs'}%> 
<% end %>
<hr>
<h1 class="page-header">Similar Contracts</h1>
<div class="container">
        <div class="row">
            <% @contract.skill_tags.each do |similar| %>
                <% similar.contracts[0..3].each do |c| %>
                   <% if c != @contract %>
            <div class="col-sm-3">
                <div class="card">
                    <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                    <div class="avatar">
                        <%= image_tag(User.find(@contract.owner).avatar.url(:thumb)) %>
                    </div>
                    <div class="content">
                        <h2><%= c.title %></h2>
                        <p><%= link_to "See more", contract_path(c), {class: 'btn btn-primary btn-xs'}%></p>
                    </div>
                </div>
            </div>
                    <% end %>
                <% end %>
            <% end %>
        </div>
</div>
<hr>
<div>
    <%= link_to("Comment on this contract", {controller: "comments", action: "new", comment: {contract_id: @contract.id}}, class: 'btn btn-primary btn-xs') %>
      </div>

      <div>
                Comments:<br>
                  <%= render @contract.root_comments %>
              </div>
<%= link_to 'Back', contracts_path %>
</div>
