<div style="overflow: hidden">
<h1 class="page-header"><%= @contract.title %></h1>
<h3>
  <strong>Company:</strong>
  <%= @contract.company %>
</h3>

<h3>
  <strong>Description:</strong>
  <%= @contract.description %>
</h3>

<h3>
  <strong>Pay:</strong>
  <%= @contract.pay %>
</h3>

<% if (current_user.id == @contract.owner) %>
    <%= link_to 'edit this contract', edit_contract_path, {class: 'btn btn-primary btn-xs'} %>
    <% if @contract.progress == false %>
        <hr style="    padding: 0;
        border: none;
        border-top: medium double #333;
        color: #333;
        text-align: center;">
        <% @contract.users.each do |u| %>
            <% if u.is_student %>
                <p><strong><%= u.first_name %></strong> is interested in this contract!</p>
                <%= link_to 'Assign student', start_contract_path(:worker => u.id), {class: 'btn btn-primary btn-xs'} %>
                <hr>
            <% end %>
        <% end %>
    <% else %>
        <p> This contract is under progress! </p>
    <% end %>
<% elsif (current_user.id == @contract.worker && @contract.progress == true && @contract.done == false) %>
    <%= link_to 'Mark finished!', finish_contract_path, {class: 'btn btn-primary btn-xs'}%> 
<% end %>
<hr>
<h1 class="page-header">Similar Contracts</h1>
<div class="container">
        <div class="row">
            <% @contract.skill_tags.each do |similar| %>
                <% similar.contracts[0..3].each do |c| %>
                   <% if c != @contract %>
            <div class="col-sm-3">
                <div class="card">
                    <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                    <div class="avatar">
                        <%= image_tag(User.find(@contract.owner).avatar.url(:thumb)) %>
                    </div>
                    <div class="content">
                        <h2><%= c.title %></h2>
                        <p><%= link_to "See more", contract_path(c), {class: 'btn btn-primary btn-xs'}%></p>
                    </div>
                </div>
            </div>
                    <% end %>
                <% end %>
            <% end %>
        </div>
</div>
<hr>
<div>
    <%= link_to("Comment on this contract", {controller: "comments", action: "new", comment: {contract_id: @contract.id}}, class: 'btn btn-primary btn-xs') %>
      </div>

      <div>
                Comments:<br>
                  <%= render @contract.root_comments %>
              </div>
<%= link_to 'Back', contracts_path %>
</div>
