<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>School:</strong>
  <%= @student.school %>
</p>

<p>
  <strong>Description:</strong>
  <%= @student.description %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
