<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your contract "<%= @contract.title %>" has been finished!</h1>
    <p>
      <%=@user.first_name %> <%=@user.last_name %> has finished your contract.
      <%=@user.first_name %> agreed to do this task:
      <%=@contract.description%>
      <%=@user.first_name %> wants to notify you that his work is finished.
      If his work is acceptable, you will pay him $<%=@contract.pay %>
    </p>
    <p>
      To see contract, click <%=link_to 'here', @contract)%>
      To see user, click <%=link_to 'here', @contract)%>
    </p>
  </body>
</html>

